@model RegisterViewModel
@{
    Layout = null;
}
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<div class="container">
    <br />
    <form method="post">
        <label>Adınız</label>
        <input type="text" asp-for="Name" class="form-control" />

        <label>Soyadınız</label>
        <input type="text" asp-for="Surname" class="form-control" />

        <label>Mail Adresiniz</label>
        <input type="email" asp-for="Email" class="form-control" />

        <label>Kullanıcı Adınız</label>
        <input type="text" asp-for="UserName" class="form-control" />

        <label>Şifreniz</label>
        <input type="password" asp-for="Password" class="form-control" />

        <button class="btn btn-outline-primary">Kayıt Ol</button>
    </form>

</div>
